/*navbar*/
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f4f6f8;
}
nav {
    background-color: white;
    color: white;
    padding: 0 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
   
    position: relative;
    margin: 20px;
}

nav ul li a {
    
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.menu {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    background: white;
    padding: 10px;
    list-style: none;
    top: 100%;
    left: 0;
    border-radius: 8px;
}

.submenu li {
    padding: 8px 15px;
}

.submenu li a {
    text-decoration: none;
    color: black;
}

.menu:hover .submenu {
    display: block;
}




.container{
    width:85%;
    margin:40px auto;
}

h1{
    color:#1d3557;
    margin-bottom:20px;
}

.success{
    color:green;
    margin-bottom:15px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th,td{
    padding:12px;
    border:1px solid #ddd;
}

th{
    background:#1d3557;
    color:white;
}

button{
    background:#2a9d8f;
    color:white;
    border:none;
    padding:8px 14px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#21867a;
}

.success{
color:green;
margin:10px 0;
font-weight:bold;
}